
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.grid-container {grid-area: container;}


.flex-container {
   display: grid;
   place-items: center;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-column-gap: 10px;
   grid-row-gap:6px;
   
}





div {
    text-align: center;
    /* Add this to make the div a flex container */
    align-items: center; /* Add this to vertically center the content */
}

.flex-container > a > div {
    text-align: center;
    border-radius: 10%;
    height: 300px;
    width: 200px;
    background-color: rgb(200, 194, 194);
    color: white;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}
